<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }
    function func()
    {
        var data1 = $(form).serializeArray();
        var data = JSON.stringify(getFormData($(form)));
        return data;
    }
    function requests(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if(this.status = 200 && this.readyState == 4)
            {
                var outputImg = document.getElementById('orbit2');
                var outputImg1 = document.getElementById('orbit');
                if(document.getElementById("check2").checked)
                {
                    if(outputImg1){
                        outputImg1.parentNode.removeChild(outputImg1);
                    }
                    if(outputImg){
                        outputImg.parentNode.removeChild(outputImg);
                    }
                    curve = document.createElement('div');
                    curve.id = 'orbit2';
                    document.body.appendChild(curve);
                    var a = JSON.parse(xhttp.responseText);
                    Plotly.newPlot(curve, a.data, a.layout);
                    return;
                }
                if(outputImg){
                    outputImg.parentNode.removeChild(outputImg);
                }
                var outputImg1 = document.getElementById('orbit');
                if(outputImg1){
                    outputImg1.src = 'data:image/png;base64, '+this.responseText;    
                }
                else{
                    outputImg1 = document.createElement('img');
                    outputImg1.id = "orbit"
                    outputImg1.src = 'data:image/png;base64, '+this.responseText;
                    document.body.appendChild(outputImg1);
                }
            }
        }
        xhttp.open('POST', '/orbit');
        xhttp.setRequestHeader('Content-type', 'application/json');
        xhttp.send(func());
        return false;
    }
    function interactiv(){
        var checkBox = document.getElementById("check1");
        if(checkBox.checked == true)
        {
            document.getElementById("check2").checked = true;
        }
    }
    function interactiv2(){
        var checkBox = document.getElementById("check1");
        var check2 = document.getElementById("check2")
        if(checkBox.checked == true && check2.checked == false)
        {
            document.getElementById("check1").checked = false;
        }
    }
    // var form = document.querySelector('form');
</script>

</head>

<body>
    <h1> Orbit from vectors </h1>
<form id="form1">
    <input name='r_x' type='text' placeholder="r_x"><br>
    <input name='r_y' type='text' placeholder="r_y"><br>
    <input name='r_z' type='text' placeholder="r_z"><br>
    <input name='v_x' type='text' placeholder="v_x"><br>
    <input name='v_y' type='text' placeholder="v_y"><br>
    <input name='v_z' type='text' placeholder="v_z"><br>
    <input id='check1' name='plot_3d' type='checkbox' value="1" onclick="interactiv()"> 3D Plot <br>
    <input id='check2' name='interactive' type='checkbox' value="1" onclick="interactiv2()"> Interactive <br>
    <input type=submit value = "Plot" onclick="requests()"><br>
</form>
<script>
    var form = document.querySelector('form');
    form.addEventListener("submit", function(event){
            event.preventDefault();
    })
</script>
</body>